
@import "loginForm.less";
@import "searchPage.less";

body {
  label, button {
    font: 400 16px 'Open Sans',helvetica,arial,sans-serif;
  }

  button {
    background-color: #fff;
    color: #000;
  }

  .hidden {
    display: none;
  }

  .error {
    color: red;
  }

  h3 {
    font-family: verlag light,sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    color: #404041;
    line-height: 1.125;
  }

  #app-root {
    padding: 5px;
  }
}