<div>
    <h3>Login Successful</h3>
    <p><button id="logout">Logout</button></p>

    <div id="search-panel">
        <label>Search by mobile number</label>
        <input type="text" autocomplete="off" id="mobile-number" maxlength="11" class="search-bar"/>
        <button id="search-button">Find customer</button>
    </div>
</div>
