<form id="login-form" method="POST" action="/rest/login">
    <div>
        <label>AD Username: </label>
        <input type="text" id="username" />
    </div>
    <div>
        <label>AD Password: </label>
        <input type="password" id="password" />
    </div>
    <button type="submit">Login</button>
    <p class="hidden error" id="login-error">Login failed</p>
</form>