<div class="logged-in-view-container">
    <div class="header">
        <h3>Customer search</h3>
        <label id="logout"></label>
    </div>
    <div id="search-panel">
        <input type="text" autocomplete="off" id="mobile-number" maxlength="11" class="search-bar" placeholder="Mobile number"/>
        <button id="search-button">Find</button>
    </div>
</div>
