<div class="user-card">
    <header>Consumer</header>
    <dl>
        <dt>Name: </dt>
        <dd>{{customerName}}</dd>
        <dt>Customer id: </dt>
        <dd>{{customerId}}</dd>
    </dl>
</div>